## Step1- Install cassandra

In [1]:
#!pip install cassandra-driver
import cassandra
#to check version
print(cassandra.__version__)

3.25.0

## Step2- Connection with Local Cassandra

In [2]:
from cassandra.cluster import Cluster
cluster = Cluster()
session = cluster.connect()

## Step3 - Execute query

In [3]:
row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

3.11.10

### 1. Create Keyspace

In [4]:
row = session.execute("CREATE KEYSPACE STUDENT WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3}").one()

In [5]:
row = session.execute("CREATE KEYSPACE STUDENT1 WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3}").one()

### 2. Show Available keyspaces

In [6]:
row = session.execute("SELECT * FROM system_schema.keyspaces")
for i in row:
    print(i[0])

student
system_auth
system_schema
system_distributed
system
system_traces
student1

### 3. Drop Keyspace

In [7]:
row = session.execute("DROP keyspace student1")

In [8]:
#verification
row = session.execute("SELECT * FROM system_schema.keyspaces")
for i in row:
    print(i[0])

student
system_auth
system_schema
system_distributed
system
system_traces

### 4. ALTER KEYSPACE

In [9]:
#replication factor from 3 to 1
row  =session.execute(" ALTER KEYSPACE STUDENT WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 1}")

In [10]:
#verification
row = session.execute("SELECT * FROM system_schema.keyspaces")
for i in row:
    print(i)

Row(keyspace_name='student', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='system_auth', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='system_schema', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='system_distributed', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '3')]))
Row(keyspace_name='system', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='system_traces', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '2')]))

### 5. CREATE TABLE

In [11]:
session.execute("USE STUDENT")
row = session.execute("CREATE TABLE STUDENTDETAILS(roll_no int PRIMARY KEY, fname text, lname text)")

In [12]:
row = session.execute("select * from studentdetails")

In [13]:
#verification
print(row.column_names)
print(row.one())
print(row.column_names,row.column_types)
for i in zip(row.column_names,row.column_types):
    print(i)

['roll_no', 'fname', 'lname']
None
['roll_no', 'fname', 'lname'] [<class 'cassandra.cqltypes.Int32Type'>, <class 'cassandra.cqltypes.VarcharType'>, <class 'cassandra.cqltypes.VarcharType'>]
('roll_no', <class 'cassandra.cqltypes.Int32Type'>)
('fname', <class 'cassandra.cqltypes.VarcharType'>)
('lname', <class 'cassandra.cqltypes.VarcharType'>)

In [14]:
session.execute("USE STUDENT")
row = session.execute("CREATE TABLE STUDENTDETAILS1(roll_no int PRIMARY KEY, fname text, lname text)")

### 6.Drop Table

In [15]:
session.execute("DROP Table studentdetails1")

### 7. Alter Table-add a column

In [16]:
session.execute("use student")
session.execute("ALTER TABLE studentdetails ADD contact_no int")

In [17]:
#verification
row = session.execute("select * from studentdetails")
print(row.column_names)

['roll_no', 'contact_no', 'fname', 'lname']

### 8. Alter Table-drop a column

In [18]:
session.execute("use student")
session.execute("ALTER TABLE studentdetails drop contact_no ")

In [19]:
#verification
row = session.execute("select * from studentdetails")
print(row.column_names)

['roll_no', 'fname', 'lname']

### 9. Insert data

In [20]:
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(1,'joe','peterson')"
session.execute(query)

In [21]:
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(2,'mathew','forbes')"
session.execute(query)

In [22]:
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(3,'emily','bennett')"
session.execute(query)

In [23]:
#verification
row = session.execute("select * from studentdetails")
for i in row.all():
    print(i)

Row(roll_no=1, fname='joe', lname='peterson')
Row(roll_no=2, fname='mathew', lname='forbes')
Row(roll_no=3, fname='emily', lname='bennett')

In [24]:
row = session.execute("select roll_no,fname from studentdetails")
row.all()

[Row(roll_no=1, fname='joe'),
 Row(roll_no=2, fname='mathew'),
 Row(roll_no=3, fname='emily')]

### 10.Truncate Table

In [25]:
session.execute("Use student")
query = "Truncate studentdetails"
session.execute(query)

In [26]:
#verification
row = session.execute("select * from studentdetails")
row.all()

[]

### 11. Create Index

In [27]:
query = "Create Index firstname on studentdetails(fname)"
session.execute(query)

In [28]:
#verification
query = "Create Index firstname on studentdetails(fname)"
session.execute(query)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Index firstname already exists"

### 12. Drop Index

In [29]:
query = "DROP INDEX IF EXISTS student.firstname"
session.execute(query)

In [30]:
#verification
query = "DROP INDEX student.fname"
session.execute(query)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Index 'fname' could not be found in any of the tables of keyspace 'student'"

Populating studentdetails table

In [ ]:
query = "USE student"
session.execute(query)
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(1,'joe','peterson')"
session.execute(query)
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(2,'mathew','forbes')"
session.execute(query)
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(3,'emily','bennett')"
session.execute(query)

### 13. Update

In [ ]:
query = "UPDATE studentdetails SET lname = 'clarks' where roll_no=2"
session.execute(query)

In [ ]:
#verification
query = "Select * from studentdetails"
row= session.execute(query)
row.all()

### 13.Batch
- BATCH is used to execute multiple modification statements (insert, update, delete) simultaneously. It is very useful when you have to update some column as well as delete some of the existing.
-  only create, update, and delete rows with a batch query, attempting to read rows out of the database with a batch query will fail.

In [31]:
session.execute("USE STUDENT")
query = "BEGIN BATCH INSERT INTO studentdetails(roll_no,fname,lname) values(4,'joeye','john');" + " UPDATE studentdetails SET fname = 'joey' where roll_no = 1;" + "DELETE FROM studentdetails WHERE roll_no = 2;" +   "APPLY BATCH;"
session.execute(query)

In [32]:
query = "SELECT * from studentdetails"
row= session.execute(query)
row.all()

[Row(roll_no=1, fname='joey', lname=None),
 Row(roll_no=4, fname='joeye', lname='john')]

In [33]:
query = "BEGIN BATCH INSERT INTO studentdetails(roll_no,fname,lname)values(5,'Paul', 'Walker')" + "INSERT INTO studentdetails(roll_no,fname,lname)values(6, 'Ricky', 'Ponting')" + "INSERT INTO studentdetails(roll_no,fname,lname)values(7,'asim','akram')" + "INSERT INTO studentdetails(roll_no,fname,lname)values(8,'sunil', 'gawaskar')" + "APPLY BATCH;"
session.execute(query)

In [34]:
query = "SELECT * from studentdetails"
row= session.execute(query)
row.all()

[Row(roll_no=5, fname='Paul', lname='Walker'),
 Row(roll_no=1, fname='joey', lname=None),
 Row(roll_no=8, fname='sunil', lname='gawaskar'),
 Row(roll_no=4, fname='joeye', lname='john'),
 Row(roll_no=7, fname='asim', lname='akram'),
 Row(roll_no=6, fname='Ricky', lname='Ponting')]

In [35]:
a1=int(input("Enter roll_no here:"))
b1=input("Enter firstname here:")
c1=input("Enter Lastname here: ")
data= (a1,b1,c1)
query = "INSERT INTO studentdetails(roll_no,fname,lname)values(%s,%s,%s);" 
session.execute(query,data)

Enter roll_no here:11
Enter firstname here:Hussain
Enter Lastname here: Bolt

In [36]:
def insertcommand(rollno,firstname,lastname):
    rollno = int(rollno)
    try:
        data= (rollno,firstname,lastname)
        query = "INSERT INTO studentdetails(roll_no,fname,lname)values(%s,%s,%s);" 
        session.execute(query,data)
    except:
        print("Cant be inserted")
    
insertcommand(9,'rishabh','pant')

In [37]:
query = "SELECT * from studentdetails"
row= session.execute(query)
row.all()

[Row(roll_no=5, fname='Paul', lname='Walker'),
 Row(roll_no=11, fname='Hussain', lname='Bolt'),
 Row(roll_no=1, fname='joey', lname=None),
 Row(roll_no=8, fname='sunil', lname='gawaskar'),
 Row(roll_no=4, fname='joeye', lname='john'),
 Row(roll_no=7, fname='asim', lname='akram'),
 Row(roll_no=6, fname='Ricky', lname='Ponting'),
 Row(roll_no=9, fname='rishabh', lname='pant')]

## ALLOW FILTERING

In [39]:
query = "Select * from studentdetails Where roll_no>7 ALLOW FILTERING"
row = session.execute(query)
row.all()

[Row(roll_no=11, fname='Hussain', lname='Bolt'),
 Row(roll_no=8, fname='sunil', lname='gawaskar'),
 Row(roll_no=9, fname='rishabh', lname='pant')]

In [40]:
session.shutdown()