In [2]:
import pymongo
import ssl

In [3]:
# connection object
client_cloud = pymongo.MongoClient("mongodb+srv://testmongo:mongo@cluster0.u4kdi.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",ssl_cert_reqs=ssl.CERT_NONE)

## to check if a particular database exists in MongoDb database

In [4]:
#to check if a particular database exists in MongoDb database
check_db = client_cloud.list_database_names()
print(check_db)
"School" in check_db

['School', 'firstdb', 'admin', 'local']

True

## to check if a particular collection exists in database

In [6]:
#to check if a particular collection exists in database
mydb = client_cloud["School"]
print(mydb.list_collection_names())
print("SchoolDetails" in  mydb.list_collection_names()) #doesnt exist
print("StudentDetails" in  mydb.list_collection_names())

['StudentDetails']
False
True

## inserting one document

In [8]:
# inserting one document

mydb1 = client_cloud["firstdb"]
print(mydb1.list_collection_names())
collection1 = mydb1["test"]



document1 = {"name": "Syed Abid Ali",
            "maths": 20,
            "phy":30,
            "chem":40}
insert1 = collection1.insert_one(document1)

['test']

## inserting many in one go

In [22]:
#inserting many in one go
list_of_documents = [{"name": "Syed Abid Ali",
            "maths": 20,
            "phy":30,
            "chem":40},
                     {"name": "Bishan Singh Bedi",
            "maths": 20,
            "phy":30,
            "chem":40},
                     {"name": "Farokh Engineer",
            "maths": 20,
            "phy":30,
            "chem":40},
                     {"name": "Sunil Gavaskar",
            "maths": 20,
            "phy":30,
            "chem":40},
                     {"name": "Madan Lal",
            "maths": 20,
            "phy":30,
            "chem":40},
                     {"name": "Kapil Dev",
            "maths": 20,
            "phy":30,
            "chem":40}
                    
                    ]

collection1.insert_many(list_of_documents)

## to get the id of a document
- insert_one() returns an object which has many attributes one such attribute is to get the document unique id

In [24]:
#to get the id of a document
# insert_one() returns an object which has many attributes one such attribute is to get the document unique id 
insert1.inserted_id

ObjectId('60a2984fc35e93e66c0f83ef')

##  to get the id of all documents use find()

In [31]:
# to get the id of all documents use find()
for count,x in enumerate(collection1.find()):
    print("Document"+str(count+1)+"       :")
    print(x)
    print("Unique id is   : ",x["_id"])

Document1       :
{'_id': ObjectId('60a28bc8f7e765c78753c3cf'), 'name': 'David Warner', 'maths': 90, 'phy': 96, 'chem': 89}
Unique id is   :  60a28bc8f7e765c78753c3cf
Document2       :
{'_id': ObjectId('60a28bcaf7e765c78753c3d0'), 'name': 'Virat Kohli', 'maths': 90, 'phy': 96, 'chem': 89, 'computer science': 98}
Unique id is   :  60a28bcaf7e765c78753c3d0
Document3       :
{'_id': ObjectId('60a2984fc35e93e66c0f83ef'), 'name': 'Syed Abid Ali', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a2984fc35e93e66c0f83ef
Document4       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f0'), 'name': 'Syed Abid Ali', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f0
Document5       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f1'), 'name': 'Bishan Singh Bedi', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f1
Document6       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f2'), 'name': 'Farokh Engineer', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f2
Document7       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f3'), 'name': 'Sunil Gavaskar', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f3
Document8       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f4'), 'name': 'Madan Lal', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f4
Document9       :
{'_id': ObjectId('60a299b5c35e93e66c0f83f5'), 'name': 'Kapil Dev', 'maths': 20, 'phy': 30, 'chem': 40}
Unique id is   :  60a299b5c35e93e66c0f83f5

# Inserting a document with customized id-user choice

In [35]:
list_of_documents_customized_id = [
    {"_id":1,
    "name": "Syed Abid Ali",
    "maths": 20,
    "phy":30,
    "chem":40},
    {"_id":2,
     "name": "Bishan Singh Bedi",
    "maths": 20,
    "phy":30,
    "chem":40},
    {"_id":3,
    "name": "Farokh Engineer",
    "maths": 20,
    "phy":30,
    "chem":40},
    {"_id":4,
    "name": "Sunil Gavaskar",
    "maths": 20,
    "phy":30,
    "chem":40},
    {"_id":5
    ,"name": "Madan Lal",
    "maths": 20,
    "phy":30,
    "chem":40},
    {"_id":6,
    "name": "Kapil Dev",
    "maths": 20,
    "phy":30,
    "chem":40}
                    
                    ]

collection1.insert_many(list_of_documents_customized_id)

In [36]:
for count,x in enumerate(collection1.find()):
    print(x["_id"])

60a28bc8f7e765c78753c3cf
60a28bcaf7e765c78753c3d0
60a2984fc35e93e66c0f83ef
60a299b5c35e93e66c0f83f0
60a299b5c35e93e66c0f83f1
60a299b5c35e93e66c0f83f2
60a299b5c35e93e66c0f83f3
60a299b5c35e93e66c0f83f4
60a299b5c35e93e66c0f83f5
1
2
3
4
5
6