In [1]:
#!pip install mysql-connector-python
import mysql.connector as connection     #step1
mydb = connection.connect(host = "localhost", user = "root", passwd = "1450", use_pure = True)  #step2
print(mydb) 
cur = mydb.cursor()   #step3

<mysql.connector.connection.MySQLConnection object at 0x000001DF9769FCD0>

In [2]:
query = "SHOW DATABASES"
cur.execute(query)   # step4
dbs = cur.fetchall()
for i in dbs:
    print(i)    #5databases

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [3]:
cur = mydb.cursor()   #step3 repeat

In [4]:
query = "CREATE DATABASE db2"
cur.execute(query)   # step4

In [5]:
cur = mydb.cursor()   #step3 repeat

In [6]:
query = "SHOW DATABASES"
cur.execute(query)   # step4
dbs = cur.fetchall()
for i in dbs:
    print(i)   #16databases

('db2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [7]:
cur = mydb.cursor()   #step3 repeat

In [8]:
query = "DROP DATABASE db2"
cur.execute(query)

In [9]:
cur = mydb.cursor()   #step3 repeat

In [10]:
query = "SHOW DATABASES"
cur.execute(query)   # step4
dbs = cur.fetchall()
for i in dbs:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [11]:
#creating database db2 again
cur = mydb.cursor()   #step3 repeat
query = "CREATE DATABASE db2"
cur.execute(query)

In [12]:
mydb.close()       #step5